<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bitcoin Explorer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
  </head>

  <style>
    input[type="text"] {
      width: 600px;
    }
  </style>

  <body>
    <a href="/">Home</a>
    <div id="block-results">
      <h1>Block Info</h1>
      <span>Hash: <%= hash %><br /></span>
      <span>Confirmations: <%= confirmations %><br /></span>
      <span>Size: <%= size %><br /></span>
      <span>Weight: <%= weight %><br /></span>
      <span>Version: <%= version %><br /></span>
      <span>Merkleroot: <%= merkleroot %><br /></span>
      <span>Time: <%= time %><br /></span>
      <span>Nonce: <%= nonce %><br /></span>
      <span>Difficulty: <%= difficulty %><br /></span>
      <span
        >Previous Block Hash:
        <a
          href="http://localhost:4444/submitblock?blockfield=<%=
        previousBlockHash %>"
          ><%= previousBlockHash %></a
        ><br
      /></span>
      <span
        >Next Block Hash:
        <a
          href="http://localhost:4444/submitblock?blockfield=<%=
      nextBlockHash %>"
          ><%= nextBlockHash %></a
        ><br
      /></span>
    </div>
    <h3>Transactions</h3>
    <!-- Put transactions here -->
    <div
      id="transaction-list"
      style="overflow:hidden scroll; height: 100px; width: 700px;"
    >
      <% for(var i = 0; i < txList.length; i++) {%> <%=i%>:
      <a href="http://localhost:4444/submittx?txfield=<%=txList[i]%>">
        <%= txList[i] %></a
      ><br /><%} %>
    </div>
    <!--  -->
    <h1>Find block info here</h1>
    <div id="block-form">
      <form id="get-block-info" action="/submitblock" method="GET">
        <input
          type="text"
          id="block"
          name="blockfield"
          placeholder="Enter block hash here..."
        /><br />
        <input type="submit" id="block-submit-button" /><br />
      </form>
    </div>
    <h1>Find transaction info here</h1>
    <div id="transaction-form">
      <form id="get-transaction-info" action="/submittx" method="GET">
        <input
          type="text"
          id="tx"
          name="txfield"
          placeholder="Enter transaction hash here..."
        /><br />
        <input type="submit" id="transaction-submit-button" /><br />
      </form>
    </div>
    <script>
      // function loadTransactions() {
      //   var txlist = JSON.parse(JSON.stringify("<%= txList %>"));
      //   //txlist = JSON.parse(txList);
      //   console.log(txlist);
      // }

      // loadTransactions();
    </script>
  </body>
</html>
