<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bitcoin Explorer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <style>
    input[type="text"] {
      width: 600px;
    }
  </style>
  <body>
    <div id="blockchain-info">
      <h1>Blockchain Info</h1>
      <div>Blocks: <%= blocks %><br /></div>
      <div>Headers: <%= headers %><br /></div>
      <div>
        Best Block Hash:
        <a
          href="http://localhost:4444/submitblock?blockfield=<%=
        bestHash %>"
          ><%= bestHash %></a
        ><br />
      </div>
      <div>Difficulty: <%= difficulty %><br /></div>
      <div>Total size: <%= totalSize %>GB<br /></div>
    </div>
    <h1>Find block info here</h1>
    <div id="block-form">
      <form id="get-block-info" action="/submitblock" method="GET">
        <input
          type="text"
          id="block"
          name="blockfield"
          placeholder="Enter block hash here..."
        /><br />
        <input type="submit" id="block-submit-button" /><br />
      </form>
    </div>
    <h1>Find transaction info here</h1>
    <div id="transaction-form">
      <form id="get-transaction-info" action="/submittx" method="GET">
        <input
          type="text"
          id="tx"
          name="txfield"
          placeholder="Enter transaction hash here..."
        /><br />
        <input type="submit" id="transaction-submit-button" /><br />
      </form>
    </div>
  </body>
</html>
