<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bitcoin Explorer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
  </head>

  <style>
    input[type="text"] {
      width: 600px;
    }
  </style>

  <body>
    <a href="/">Home</a>
    <div id="tx-results">
      <h1>Transaction Info</h1>
      <span>Tx ID: <%= txid %><br /></span>
      <span>Hash: <%= hash %><br /></span>
      <span>Version: <%= version %><br /></span>
      <span>Size: <%= size %><br /></span>
      <span>Vsize: <%= vsize %><br /></span>
      <span>Weight: <%= weight %><br /></span>
      <span>Total output: <%= vout %>BTC<br /></span>
    </div>
    <h1>Find block info here</h1>
    <div id="block-form">
      <form id="get-block-info" action="/submitblock" method="GET">
        <input
          type="text"
          id="block"
          name="blockfield"
          placeholder="Enter block hash here..."
        /><br />
        <input type="submit" id="block-submit-button" /><br />
      </form>
    </div>
    <h1>Find transaction info here</h1>
    <div id="transaction-form">
      <form id="get-transaction-info" action="/submittx" method="GET">
        <input
          type="text"
          id="tx"
          name="txfield"
          placeholder="Enter transaction hash here..."
        /><br />
        <input type="submit" id="transaction-submit-button" /><br />
      </form>
    </div>
  </body>
</html>
