<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bitcoin Explorer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
  </head>

  <style></style>

  <body>
    <div id="tx-results">
      <span>Tx ID: <%= txid %><br /></span>
      <span>Hash: <%= hash %><br /></span>
      <span>Version: <%= version %><br /></span>
      <span>Size: <%= size %><br /></span>
      <span>Vsize: <%= vsize %><br /></span>
      <span>Weight: <%= weight %><br /></span>
      <span>Total output: <%= vout %><br /></span>
    </div>
  </body>
</html>
